{% extends 'base.html.twig' %}

{% block title %}Witch{% endblock %}

{% block body %}

<header class="witch-header wrapper">
    <div class="grid-witch">
        <div class="small square el" style="transform: scale(1);">L</div>
        <div class="small square el" style="transform: scale(1);">E</div>
        <div class="small square el" style="transform: scale(1);">T</div>
        <div class="small square el" style="transform: scale(1);"></div>
        <div class="small square el" style="transform: scale(1);">Y</div>
        <div class="small square el" style="transform: scale(1);">O</div>
        <div class="small square el" style="transform: scale(1);">U</div>
        <div class="small square el" style="transform: scale(1);">R</div>
        <div class="small square el" style="transform: scale(1);">S</div>
        <div class="small square el" style="transform: scale(1);">E</div>
        <div class="small square el" style="transform: scale(1);">L</div>
        <div class="small square el" style="transform: scale(1);">F</div>
        <div class="small square el" style="transform: scale(1);"></div>
        <div class="small square el" style="transform: scale(1);">B</div>
        <div class="small square el" style="transform: scale(1);">E</div>
    </div>
    <div class="grid-witch">
        <div class="small square el" style="transform: scale(1);">B</div>
        <div class="small square el" style="transform: scale(1);">E</div>
        <div class="small square el" style="transform: scale(1);">W</div>
        <div class="small square el" style="transform: scale(1);">I</div>
        <div class="small square el" style="transform: scale(1);">T</div>
        <div class="small square el" style="transform: scale(1);">C</div>
        <div class="small square el" style="transform: scale(1);">H</div>
        <div class="small square el" style="transform: scale(1);">E</div>
        <div class="small square el" style="transform: scale(1);">D</div>
    </div>
    <div class="grid-witch">
        <div class="small square el" style="transform: scale(1);">B</div>
        <div class="small square el" style="transform: scale(1);">Y</div>
        <div class="small square el" style="transform: scale(1);"></div>
        <div class="small square el" style="transform: scale(1);">T</div>
        <div class="small square el" style="transform: scale(1);">H</div>
        <div class="small square el" style="transform: scale(1);">E</div>
        <div class="small square el" style="transform: scale(1);"></div>
        <div class="small el witch-pink" style="transform: scale(1);">W</div>
        <div class="small el witch-pink" style="transform: scale(1);">I</div>
        <div class="small el witch-pink" style="transform: scale(1);">T</div>
        <div class="small el witch-pink" style="transform: scale(1);">C</div>
        <div class="small el witch-pink" style="transform: scale(1);">H</div>
    </div>
</header>

{#*******************************************
PRODUCTS
*******************************************#}

{% for product in witchProducts %}
    {% if product.id == 1 %}
    {% set productColor = 'pink' %}
    {% else %}
    {% set productColor = 'yellow' %}
    {% endif %}

    <section class="{{ productColor }}-witch-bg parallax-section">
        <div class="caption-witch collapsible">
            <a href="#{{ productColor }}WitchResume">
                <span class="wich-witch">{{ product.name }}</span>
            </a>
        </div>
    </section>

    <div class="parfum-resume">
        <div class="flex">
            <div class="left-witch-resume flex"><img src="{{ product.imgPath }}" alt="{{ product.name }}"
                    class="witch-bottle" />
            </div>
            <div class="left-witch-resume flex">
            </div>
            <div class="right-witch-resume" id="{{ productColor }}WitchResume">
                <h3>{{ productColor }} Witch</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam nam hic, totam dignissimos libero eius
                    vel harum perferendis repellat ab? Voluptate quod vel nobis mollitia voluptas illo perspiciatis,
                    repellendus laudantium.
                </p>
                <em class="em-witch">"Be Bewitched"</em>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ducimus blanditiis doloribus dolorem,
                    obcaecati nesciunt mollitia asperiores maiores laborum sunt accusamus aut dolore dolores magni voluptate
                    tenetur iure veniam accusantium.
                </p>
            </div>
        </div>


        <div class="buy-witch-product">

            <span class="ti-shopping-cart"></span>
            <a href="{{ path('witch_shop') }}">
                <p>
                    <span class="bg-witch-buy"></span>
                    <span class="base-witch-buy"></span>
                    <span class="text-witch-buy">Voir la boutique</span>
                </p>
            </a>
        </div>

</div>
{% endfor %}

{% endblock %}