{% extends 'base.html.twig' %}

{% block title %}Shop Witch{% endblock %}

{% block body %}

<!--***************************NAV****************************-->
{% include "nav/_menu.sidebar.html.twig" %}

<section class="witch-products flex">
    {% for key, product in products %}
    <div class="container-witch-product flex">
        <div class="left-witch-product">
            <img src="{{ product.imgPath }}" alt="">
        </div>
        <div class="right-witch-product flex">
            <h3>{{ product.name }}</h3>
            <hr class="hr">
            <form class="witch-buy-form" data-category='{{ product.witchCategory.name }}'>
                <label for="format-select">Choisissez un format :</label>
                <select name="format-select" class="witch-format-select">
                    {% for format in product.witchFormats %}
                    <option value="{{ product.name }}-{{ format.size }}-{{ format.price }}">{{ format }} ml -
                        {{ format.price }} €
                    </option>
                    {% endfor %}
                </select>
                <br>
                <button type="button" class="buy-witch">Commander</button>
            </form>
        </div>
    </div>
    <br>
    <hr class="hr">
    <br>
    {% endfor %}
</section>

{% endblock %}