{% extends 'base.html.twig' %}

{% block title %}Shop Witch{% endblock %}

{% block body %}

<section class="witch-products flex">
    {% for key, product in products %}
    <div class="container-witch-product flex">
        <div class="left-witch-product">
            <img src="{{ product.imgPath }}" alt="">
        </div>
        <div class="right-witch-product flex">
            <h3>{{ product.name }}</h3>
            <hr class="hr">
            <label for="format-select">Choisissez un format :</label>
            <form method="post" action="{{ path('witch_shop') }}">
                <select name="format-select">
                    {% for format in product.witchFormats %}
                    <option value="{{ product.name }} - {{ format.size }} - {{ format.price }}">{{ format }} ml - {{ format.price }} €
                    </option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Commander" />
            </form>
        </div>
    </div>
    <br>
    <hr class="hr">
    <br>
    {% endfor %}



</section>

{% endblock %}