<nav class="witch-shop-nav flex">
    <div class="search">
        {{ render(controller('App\\Controller\\SearchController::searchBarAction')) }}
    </div>
    <div class="witch-title-nav flex">
        <a href="{{ path('homepage') }}">
            <h1>W I T CH</h1>
        </a>
    </div>
    <div class="right-nav-menu-witch">

        {% if app.user %}
        <a href="{{ path('app_logout') }}" class="logged-in"  onclick="return confirm('Souhaitez-vous vous déconnecter ?')">
            <span class="ti-user"></span>
        </a>

        {% else %}

        <a href="{{ path('app_login') }}" class="no-color-link">
            <span class="ti-user"></span>
        </a>

        {% endif %}

        <a href="{{ path('witch_cart') }}" class="no-color-link">
            <span class="ti-shopping-cart">
            </span>
        </a>
    </div>
</nav>