<nav class="witch-shop-nav flex">
    <div class="search">
        {{ render(controller('App\\Controller\\SearchController::searchBarAction')) }}
    </div>
    <div class="witch-title-nav flex">
        <a href="{{ path('witch_home') }}">
            <h1>W I T CH</h1>
        </a>
    </div>
    <div class="right-nav-menu-witch">
        <div class="witch-dropdown-user">
            <button class="ti-user witch-dropdown-button {% if app.user %}logged-in{% endif %}"></button>
            <div class="witch-dropdown-content">
                {% if app.user %}
                <a href="{{ path('user_profile') }}">Mon compte</a>
                <a href="#">Mes commandes</a>
                <a href="{{ path('app_logout') }}"
                    onclick="return confirm('Souhaitez-vous vous déconnecter ?')">Déconnexion</a>
                {% else %}
                <a href="{{ path('app_login') }}" class="no-color-link">Connexion</span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="witch-cart-header-container">
            <a href="{{ path('witch_cart') }}" class="ti-shopping-cart no-color-link">
            </a>
        </div>
        {% if app.user and app.user is defined and app.user is not null %}
        <div class="user-witch-cart-quantity" data-quantity="{{ app.user.cart.getNewArticles|length }}">
            <span class="witch-pastille-quantity">{{ app.user.cart.getNewArticles|length }}</span>
        </div>
        {% endif %}
    </div>

</nav>